@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Merienda+One|Montserrat");
*, html, body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Raleway", Arial, sans-serif; }

body {
  overflow-x: hidden;
  width: 100%; }

.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9;
  color: #fff;
  background-color: #3b323c;
  padding: 15px;
  font-size: 1.5rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #fff; }

.header-wrapper .header-bg {
  background-color: #ef7674;
  color: #3b323c;
  height: 100%; }
  @media screen and (max-width: 820px) {
    .header-wrapper .header-bg {
      width: 100%;
      height: 500px; } }
  .header-wrapper .header-bg .bg-img, .header-wrapper .header-bg .title {
    width: 50%;
    height: 550px; }
    @media screen and (max-width: 820px) {
      .header-wrapper .header-bg .bg-img, .header-wrapper .header-bg .title {
        width: 100%;
        height: 300px; } }
  .header-wrapper .header-bg .title {
    float: right; }
  .header-wrapper .header-bg .bg-img {
    background: url("../../images/design.jpg") center center no-repeat;
    background-size: cover; }
  .header-wrapper .header-bg .bedge {
    line-height: 1.8;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 15%; }
    .header-wrapper .header-bg .bedge p {
      width: 100px;
      height: 100px;
      padding: 2rem;
      background-color: #3b323c;
      color: #fff;
      border: 5px solid #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      font-size: 1.5rem;
      margin: 0 auto; }
    .header-wrapper .header-bg .bedge span {
      font-family: "Merienda One", cursive;
      opacity: 0.7;
      font-size: 1.5rem; }
  .header-wrapper .header-bg .title {
    position: absolute;
    top: 55%;
    left: 52%; }
    @media screen and (max-width: 820px) {
      .header-wrapper .header-bg .title {
        float: none;
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
        padding: 25px 0;
        height: 150px; } }
    .header-wrapper .header-bg .title h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 800;
      font-size: 5vw; }
      @media screen and (max-width: 630px) {
        .header-wrapper .header-bg .title h2 {
          font-size: 25px; } }
    .header-wrapper .header-bg .title p {
      font-size: 16px;
      font-family: "Merienda One", cursive;
      color: #fff; }
      .header-wrapper .header-bg .title p:nth-child(3) {
        font-size: 1.5rem;
        font-family: "Raleway", Arial, sans-serif;
        line-height: 1;
        margin-top: 20px;
        padding-right: 50px;
        font-weight: 400;
        color: #3b323c; }
        @media screen and (max-width: 820px) {
          .header-wrapper .header-bg .title p:nth-child(3) {
            padding-right: 0; } }
        @media screen and (max-width: 630px) {
          .header-wrapper .header-bg .title p:nth-child(3) {
            font-size: 20px;
            line-height: 1.2; } }

.header-wrapper .main-navigation {
  height: 80px;
  background-color: #3b323c;
  color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center; }
  @media screen and (max-width: 630px) {
    .header-wrapper .main-navigation {
      height: auto; } }
  .header-wrapper .main-navigation ul {
    height: 80px;
    list-style: none;
    display: inline-block; }
    @media screen and (max-width: 630px) {
      .header-wrapper .main-navigation ul {
        width: 100%;
        height: auto; } }
    .header-wrapper .main-navigation ul a {
      float: left;
      text-decoration: none;
      color: #fff;
      font-size: 1.3rem;
      border-top: 4px solid #3b323c;
      border-bottom: 4px solid #3b323c;
      padding: 1.3rem 0;
      margin: 0 2rem;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      @media screen and (max-width: 820px) {
        .header-wrapper .main-navigation ul a {
          margin: 0 1rem; } }
      @media screen and (max-width: 630px) {
        .header-wrapper .main-navigation ul a {
          float: none;
          display: none;
          width: 100%;
          margin: 0; } }
      .header-wrapper .main-navigation ul a:nth-child(1) {
        display: none;
        border: none;
        border-bottom: 2px solid #fff;
        padding: 1.3rem 0; }
        @media screen and (max-width: 630px) {
          .header-wrapper .main-navigation ul a:nth-child(1) {
            display: inline-block; } }
        @media screen and (max-width: 630px) {
          .header-wrapper .main-navigation ul a:nth-child(1):hover {
            margin: 0;
            padding: 1.3rem 0;
            border: none;
            border-bottom: 2px solid #fff; } }
      .header-wrapper .main-navigation ul a:hover {
        color: #ef7674;
        border-top: 4px solid #ffffff;
        border-bottom: 4px solid #ffffff;
        padding: 0.3rem 0;
        margin: 1rem 2rem; }
        @media screen and (max-width: 820px) {
          .header-wrapper .main-navigation ul a:hover {
            margin: 1rem; } }
        @media screen and (max-width: 630px) {
          .header-wrapper .main-navigation ul a:hover {
            display: inline-block;
            margin: 1rem 0;
            padding: 0.3rem 0; } }
      .header-wrapper .main-navigation ul a:active {
        color: #ef7674;
        background-color: #514451; }
      .header-wrapper .main-navigation ul a li {
        display: block;
        font-size: 1.3rem; }
        .header-wrapper .main-navigation ul a li .container {
          display: inline-block;
          cursor: pointer; }
        .header-wrapper .main-navigation ul a li .bar1, .header-wrapper .main-navigation ul a li .bar2, .header-wrapper .main-navigation ul a li .bar3 {
          width: 35px;
          height: 5px;
          background-color: #fff;
          margin: 6px 0;
          -webkit-transition: all 0.4s linear;
          -moz-transition: all 0.4s linear;
          -ms-transition: all 0.4s linear;
          transition: all 0.4s linear; }
    .header-wrapper .main-navigation ul .change .container .bar1 {
      -ms-transform: rotate(-45deg) translate(-9px, 6px);
      -moz-transform: rotate(-45deg) translate(-9px, 6px);
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px); }
    .header-wrapper .main-navigation ul .change .container .bar2 {
      opacity: 0; }
    .header-wrapper .main-navigation ul .change .container .bar3 {
      -ms-transform: rotate(45deg) translate(-8px, -8px);
      -moz-transform: rotate(45deg) translate(-8px, -8px);
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px); }
  .header-wrapper .main-navigation .display {
    display: inline-block; }

.header-wrapper .fixed {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%; }

.about {
  clear: both;
  background-color: #fdeeee;
  height: auto; }
  .about .appear {
    -webkit-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    -ms-transition: all 0.6s linear;
    transition: all 0.6s linear;
    -ms-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 0; }
  .about .visible {
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; }
  .about .about-content {
    width: 70%;
    margin: 0 auto;
    height: 100%;
    padding: 100px 0; }
    @media screen and (max-width: 1130px) {
      .about .about-content {
        width: 90%; } }
    @media screen and (max-width: 820px) {
      .about .about-content {
        padding: 20px 0; } }
    .about .about-content .image-me {
      width: 50%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      border-right: 5px solid #5e0231;
      text-align: right;
      padding-right: 50px;
      display: inline-block; }
      @media screen and (max-width: 1130px) {
        .about .about-content .image-me {
          width: 40%; } }
      @media screen and (max-width: 820px) {
        .about .about-content .image-me {
          width: 100%;
          padding-right: 0;
          text-align: center;
          border: none; } }
      .about .about-content .image-me h4 {
        font-size: 3rem;
        color: #5e0231;
        margin-bottom: 50px;
        display: inline-block;
        width: 100%; }
        .about .about-content .image-me h4 span {
          font-size: 3rem;
          opacity: 0.7; }
        @media screen and (max-width: 820px) {
          .about .about-content .image-me h4 .invisible {
            display: none; } }
      .about .about-content .image-me img {
        width: 250px;
        height: 250px;
        display: inline-block;
        border: 5px solid #fff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
    .about .about-content .detales {
      width: 50%;
      box-sizing: border-box;
      float: right;
      padding-left: 10px;
      line-height: 1.5rem; }
      @media screen and (max-width: 1130px) {
        .about .about-content .detales {
          width: 60%; } }
      @media screen and (max-width: 820px) {
        .about .about-content .detales {
          width: 100%;
          float: none;
          padding: 30px 0;
          text-align: center; } }
      .about .about-content .detales p {
        font-size: 1rem;
        color: #3b323c; }
      .about .about-content .detales ul {
        list-style: none;
        margin: 30px 0;
        color: #3b323c; }
        .about .about-content .detales ul li span {
          color: #5e0231;
          font-weight: 600; }
        .about .about-content .detales ul li:first-child {
          margin-bottom: 10px; }
      .about .about-content .detales a {
        text-decoration: none;
        color: #fff;
        background-color: #5e0231;
        padding: 15px 20px;
        display: inline-block;
        overflow: hidden; }
        .about .about-content .detales a span {
          z-index: 1; }
        .about .about-content .detales a:after {
          content: '';
          position: absolute;
          z-index: 0;
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -ms-transition: all 0.3s linear;
          transition: all 0.3s linear;
          width: 100%;
          height: 0;
          top: 50%;
          left: 50%;
          background: #fff;
          opacity: 0;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          box-sizing: border-box;
          -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg); }
        .about .about-content .detales a:hover {
          color: #5e0231;
          font-weight: 600; }
          .about .about-content .detales a:hover:after {
            height: 260%;
            opacity: 1; }
        .about .about-content .detales a:active:after {
          height: 400%;
          opacity: 1; }

.skills {
  height: auto;
  background: url("../../images/cover-img.jpg") center center no-repeat;
  background-color: #3b323c;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #3b323c;
  color: #fff; }
  .skills .skills-cover {
    background: rgba(59, 50, 60, 0.15); }
  .skills .skill-content {
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
    height: 550px; }
    @media screen and (max-width: 1130px) {
      .skills .skill-content {
        width: 100%;
        margin: 0; }
      .skills {
        background-attachment: scroll;}
}
    @media screen and (max-width: 820px) {
      .skills .skill-content {
        height: 850px; } }
    @media screen and (max-width: 480px) {
      .skills .skill-content {
        height: auto; } }
    .skills .skill-content .skill-header {
      text-align: center; }
      .skills .skill-content .skill-header h4 {
        font-size: 3rem;
        color: #3b323c; }
    .skills .skill-content .charts {
      padding: 80px 0;
      height: auto;
      text-align: center; }
      @media screen and (max-width: 820px) {
        .skills .skill-content .charts {
          height: auto;
          margin-bottom: 0;
          display: flex;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          -ms-flex-wrap: wrap;
          -moz-flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
          margin-bottom: 50px;
          -ms-justify-content: space-around;
          -moz-justify-content: space-around;
          -webkit-justify-content: space-around;
          justify-content: space-around;
          align-items: center; } }
  @media screen and (max-width: 820px) and (max-width: 1040px) {
    .skills .skill-content .charts .chart {
      margin: 0 auto; } }
      @media screen and (max-width: 450px) {
        .skills .skill-content .charts {
          margin: 0;
          padding: 0; } }
      .skills .skill-content .charts .abilities {
        float: left;
        padding-right: 10px;
        text-align: center;
        width: 20%;
        height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box; }
        @media screen and (max-width: 1130px) {
          .skills .skill-content .charts .abilities:last-child {
            margin-right: 0px; } }
        @media screen and (max-width: 820px) {
          .skills .skill-content .charts .abilities {
            float: none;
            display: flex;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            width: 33.33%;
            height: 380px;
            -ms-flex-direction: column;
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            flex-direction: column; } }
        @media screen and (max-width: 450px) {
          .skills .skill-content .charts .abilities {
            width: 100%;
            height: 100%;
            padding-bottom: 50px; }
            .skills .skill-content .charts .abilities:first-child {
              padding-top: 50px; }
            .skills .skill-content .charts .abilities:last-child {
              padding-bottom: 0px; } }
        .skills .skill-content .charts .abilities .position {
          margin: 20px 0; }
        @media screen and (max-width: 1040px) {
          .skills .skill-content .charts .abilities .progress-bar {
            height: 150px;
            width: 150px;
            margin: 0 auto; }
            .skills .skill-content .charts .abilities .progress-bar div {
              height: 150px;
              width: 150px; }
            .skills .skill-content .charts .abilities .progress-bar span {
              height: 131px;
              width: 131px;
              line-height: 131px;
              left: 10px;
              top: 10px; }
            .skills .skill-content .charts .abilities .progress-bar .rotate {
              clip: rect(0 75px 150px 0); }
            .skills .skill-content .charts .abilities .progress-bar .left {
              clip: rect(0 75px 150px 0); }
            .skills .skill-content .charts .abilities .progress-bar .right {
              clip: rect(0 75px 150px 0); } }
        .skills .skill-content .charts .abilities .progress-bar span {
          background-color: #3b323c; }
        .skills .skill-content .charts .abilities .progress-bar .background {
          background-color: #3a323c; }
        .skills .skill-content .charts .abilities .ability {
          text-align: center;
          display: none; }
          .skills .skill-content .charts .abilities .ability h5 {
            font-size: 1.3rem;
            color: #ef7674;
            padding: 10px 0; }

.portfolio {
  height: auto;
  width: 100%;
  background-color: #3b323c; }
  .portfolio .portfolio-content {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    height: 100%; }
    .portfolio .portfolio-content h4 {
      font-size: 3rem;
      color: #fff; }
    .portfolio .portfolio-content .icon-line {
      width: 100%;
      margin: 30px auto; }
      .portfolio .portfolio-content .icon-line:after {
        content: '\f0b1';
        font-family: FontAwesome;
        color: #fff;
        font-size: 24px;
        padding: 10px;
        position: absolute;
        left: calc(50% - 25px);
        border-radius: 50%;
        background-color: #3b323c;
        border: 2px solid #fff;
        width: 30px;
        height: 23px;
        top: -1200%;
        text-align: center; }
      .portfolio .portfolio-content .icon-line hr {
        width: 50%;
        margin: 20px auto;
        background-color: #ededed;
        height: 2px;
        border: none; }
        @media screen and (max-width: 820px) {
          .portfolio .portfolio-content .icon-line hr {
            width: 100%; } }
    .portfolio .portfolio-content ul {
      list-style: none;
      display: inline-block;
      text-align: center;
      margin: 30px 0; }
      .portfolio .portfolio-content ul li {
        float: left;
        margin-left: 10px; }
        @media screen and (max-width: 480px) {
          .portfolio .portfolio-content ul li {
            float: none; } }
        .portfolio .portfolio-content ul li .btn {
          padding: 10px 20px;
          text-decoration: none;
          font-size: 1.2rem;
          color: #bababa;
          font-weight: 600;
          text-transform: uppercase;
          background-color: transparent;
          outline: none;
          border: none;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          transition: all 0.3s ease; }
          .portfolio .portfolio-content ul li .btn:after {
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
            content: '';
            position: absolute;
            bottom: 1px;
            left: -25%;
            width: 150%;
            height: 2px;
            background: #ef7674;
            visibility: hidden;
            opacity: 0; }
          .portfolio .portfolio-content ul li .btn:hover {
            color: #ef7674; }
            .portfolio .portfolio-content ul li .btn:hover:after {
              width: 100%;
              left: 0;
              visibility: visible;
              opacity: 1; }
        .portfolio .portfolio-content ul li .active {
          color: #ef7674; }
  .portfolio .portfolio-items-2 {
    width: 100%;
    height: 720px; }
    @media screen and (max-width: 1040px) {
      .portfolio .portfolio-items-2 {
        height: 1100px; } }
    @media screen and (max-width: 820px) {
      .portfolio .portfolio-items-2 {
        height: 1800px; } }
  .portfolio .portfolio-items-3 {
    width: 100%;
    height: 720px; }
    @media screen and (max-width: 1040px) {
      .portfolio .portfolio-items-3 {
        height: 800px; } }
    @media screen and (max-width: 820px) {
      .portfolio .portfolio-items-3 {
        height: 1400px; } }
  .portfolio .portfolio-items {
    width: 100%;
    height: 1050px; }
    @media screen and (max-width: 1040px) {
      .portfolio .portfolio-items {
        height: 1800px; } }
    @media screen and (max-width: 820px) {
      .portfolio .portfolio-items {
        height: 3250px; } }
  .portfolio #items .item {
    width: 30%;
    max-height: 330px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    -ms-transition: all 0.8s linear;
    transition: all 0.8s linear;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    opacity: 1; }
    @media screen and (max-width: 1040px) {
      .portfolio #items .item {
        width: 45%; } }
    @media screen and (max-width: 820px) {
      .portfolio #items .item {
        width: 60%;
        left: 20%;
        margin: 0; } }
    @media screen and (max-width: 630px) {
      .portfolio #items .item {
        width: 80%;
        left: 10%; } }
    @media screen and (max-width: 480px) {
      .portfolio #items .item {
        width: 100%;
        left: 0%; } }
    .portfolio #items .item:hover h2 {
      color: #fff;
      padding: 0;
      background-color: transparent;
      transform: translate3d(0, -150px, 0); }
    .portfolio #items .item:hover p {
      transform: translate3d(0, 0, 0);
      opacity: 1; }
      .portfolio #items .item:hover p span {
        left: 35%;
        opacity: 1; }
      .portfolio #items .item:hover p span:last-child {
        left: 50%;
        opacity: 1; }
    .portfolio #items .item:hover figcaption:before {
      opacity: 1;
      transform: translate3d(0, 0, 0); }
    .portfolio #items .item figcaption {
      position: initial;
      padding: 2rem;
      color: #fff;
      font-size: 1.25rem;
      display: block; }
      .portfolio #items .item figcaption:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: -webkit-linear-gradient(top, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
        transform: translate3d(0, 50%, 0);
        opacity: 0;
        transition: opacity 0.35s, transform 0.35s; }
      .portfolio #items .item figcaption h2 {
        position: absolute;
        top: 86%;
        left: 0;
        width: 100%;
        padding: 0.5em 0;
        background-color: rgba(255, 255, 255, 0.7);
        color: #484C61;
        transform: translate3d(0, -50%, 0);
        transition: transform 0.35s, color 0.35s;
        word-spacing: -0.15em;
        display: block;
        font-size: 1.5rem;
        -webkit-margin-before: 0.83em;
        -webkit-margin-after: 0.83em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px; }
        .portfolio #items .item figcaption h2 span {
          font-weight: 800;
          font-size: 1.1rem; }
      .portfolio #items .item figcaption p {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1rem;
        width: 100%;
        opacity: 0;
        transform: translate3d(0, 10px, 0);
        letter-spacing: 1px;
        font-size: 68.5%;
        box-sizing: border-box; }
        .portfolio #items .item figcaption p span {
          position: absolute;
          border-radius: 50%;
          background-color: #ef7674;
          top: -50px;
          left: 0px;
          width: 25px;
          height: 25px;
          padding: 10px 12px 14px 12px;
          opacity: 0;
          font-size: 20px;
          transition: all 0.3s linear; }
          .portfolio #items .item figcaption p span a {
            color: #fff;
            font-size: 24px; }
        .portfolio #items .item figcaption p span:last-child {
          left: calc(100% - 45px); }
    .portfolio #items .item img {
      display: block;
      min-height: 100%;
      min-width: 100%; }
  .portfolio #items .graphic:hover p span {
    left: 42%; }
  .portfolio #items .one {
    top: 0%;
    left: 0%; }
    @media screen and (max-width: 820px) {
      .portfolio #items .one {
        left: 20%; } }
    @media screen and (max-width: 630px) {
      .portfolio #items .one {
        left: 10%; } }
    @media screen and (max-width: 480px) {
      .portfolio #items .one {
        left: 0%; } }
  .portfolio #items .two {
    top: 0%;
    left: 33%; }
    @media screen and (max-width: 1040px) {
      .portfolio #items .two {
        left: 50%; } }
    @media screen and (max-width: 820px) {
      .portfolio #items .two {
        top: 360px;
        left: 20%; } }
    @media screen and (max-width: 630px) {
      .portfolio #items .two {
        left: 10%; } }
    @media screen and (max-width: 480px) {
      .portfolio #items .two {
        width: 100%;
        left: 0%; } }
  .portfolio #items .three {
    top: 0%;
    left: 66%; }
    @media screen and (max-width: 1040px) {
      .portfolio #items .three {
        top: 360px;
        left: 0%; } }
    @media screen and (max-width: 820px) {
      .portfolio #items .three {
        top: 720px;
        left: 20%; } }
    @media screen and (max-width: 630px) {
      .portfolio #items .three {
        left: 10%; } }
    @media screen and (max-width: 480px) {
      .portfolio #items .three {
        width: 100%;
        left: 0%; } }
  .portfolio #items .four {
    top: 360px;
    left: 0%; }
    @media screen and (max-width: 1040px) {
      .portfolio #items .four {
        top: 360px;
        left: 50%; } }
    @media screen and (max-width: 820px) {
      .portfolio #items .four {
        top: 1080px;
        left: 20%; } }
    @media screen and (max-width: 630px) {
      .portfolio #items .four {
        left: 10%; } }
    @media screen and (max-width: 480px) {
      .portfolio #items .four {
        width: 100%;
        left: 0%; } }
  .portfolio #items .five {
    top: 360px;
    left: 33%; }
    @media screen and (max-width: 1040px) {
      .portfolio #items .five {
        top: 720px;
        left: 0%; } }
    @media screen and (max-width: 820px) {
      .portfolio #items .five {
        top: 1440px;
        left: 20%; } }
    @media screen and (max-width: 630px) {
      .portfolio #items .five {
        left: 10%; } }
    @media screen and (max-width: 480px) {
      .portfolio #items .five {
        width: 100%;
        left: 0%; } }
  .portfolio #items .six {
    top: 360px;
    left: 66%; }
    @media screen and (max-width: 1040px) {
      .portfolio #items .six {
        top: 720px;
        left: 50%; } }
    @media screen and (max-width: 820px) {
      .portfolio #items .six {
        top: 1800px;
        left: 20%; } }
    @media screen and (max-width: 630px) {
      .portfolio #items .six {
        left: 10%; } }
    @media screen and (max-width: 480px) {
      .portfolio #items .six {
        width: 100%;
        left: 0%; } }
  .portfolio #items .seven {
    top: 720px;
    left: 0%; }
    @media screen and (max-width: 1040px) {
      .portfolio #items .seven {
        top: 1080px;
        left: 0%; } }
    @media screen and (max-width: 820px) {
      .portfolio #items .seven {
        top: 2160px;
        left: 20%; } }
    @media screen and (max-width: 630px) {
      .portfolio #items .seven {
        left: 10%; } }
    @media screen and (max-width: 480px) {
      .portfolio #items .seven {
        width: 100%;
        left: 0%; } }
  .portfolio #items .eight {
    top: 720px;
    left: 33%; }
    @media screen and (max-width: 1040px) {
      .portfolio #items .eight {
        top: 1080px;
        left: 50%; } }
    @media screen and (max-width: 820px) {
      .portfolio #items .eight {
        top: 2520px;
        left: 20%; } }
    @media screen and (max-width: 630px) {
      .portfolio #items .eight {
        left: 10%; } }
    @media screen and (max-width: 480px) {
      .portfolio #items .eight {
        width: 100%;
        left: 0%; } }
  .portfolio #items .nine {
    top: 720px;
    left: 66%; }
    @media screen and (max-width: 1040px) {
      .portfolio #items .nine {
        top: 1440px;
        left: 0%; } }
    @media screen and (max-width: 820px) {
      .portfolio #items .nine {
        top: 2880px;
        left: 20%; } }
    @media screen and (max-width: 630px) {
      .portfolio #items .nine {
        left: 10%; } }
    @media screen and (max-width: 480px) {
      .portfolio #items .nine {
        width: 100%;
        left: 0%; } }
  .portfolio #items .disappear {
    opacity: 0;
    visibility: hidden;
    transform: scale3d(0.001, 0.001, 1);
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    -ms-transition: all 0.8s linear;
    transition: all 0.8s linear; }

.contact-wrapper {
  width: 100%;
  background: url("../../images/woman.jpg") center center no-repeat;
  background-color: #3b323c;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 700px; }
  @media screen and (max-width: 694px) {
    .contact-wrapper {
      height: auto; } }
  .contact-wrapper .cover-color {
    background-color: rgba(59, 50, 60, 0.5);
    height: 100%; }
  .contact-wrapper .appear {
    -webkit-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    -ms-transition: all 0.6s linear;
    transition: all 0.6s linear;
    -ms-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 0; }
  .contact-wrapper .contact-content {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    padding: 100px  0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
    @media screen and (max-width: 1130px) {
      .contact-wrapper .contact-content {
        width: 90%; } }
    .contact-wrapper .contact-content .contact-me, .contact-wrapper .contact-content form {
      float: left;
      width: 50%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; }
      @media screen and (max-width: 694px) {
        .contact-wrapper .contact-content .contact-me, .contact-wrapper .contact-content form {
          width: 100%;
          float: none; } }
    .contact-wrapper .contact-content form {
      text-align: left;
      padding-left: 50px; }
      @media screen and (max-width: 820px) {
        .contact-wrapper .contact-content form {
          width: 60%;
          padding-left: 20px; } }
      @media screen and (max-width: 694px) {
        .contact-wrapper .contact-content form {
          width: 100%;
          text-align: center; } }
    .contact-wrapper .contact-content .contact-me {
      border-right: 3px solid #ef7674;
      padding-right: 50px;
      text-align: right; }
      @media screen and (max-width: 820px) {
        .contact-wrapper .contact-content .contact-me {
          width: 40%;
          padding-right: 20px; } }
      @media screen and (max-width: 694px) {
        .contact-wrapper .contact-content .contact-me {
          width: 100%;
          float: none;
          border-right: none;
          text-align: center; }
          .contact-wrapper .contact-content .contact-me .invisible {
            display: none; } }
      .contact-wrapper .contact-content .contact-me h2 {
        font-size: 3rem;
        padding: 50px 0;
        text-align: right;
        color: #fff; }
        @media screen and (max-width: 694px) {
          .contact-wrapper .contact-content .contact-me h2 {
            text-align: center; } }
        .contact-wrapper .contact-content .contact-me h2 span {
          font-size: 3rem;
          opacity: 0.5;
          color: #fff; }
      @media screen and (max-width: 694px) {
        .contact-wrapper .contact-content .contact-me .contact {
          text-align: center; } }
      .contact-wrapper .contact-content .contact-me p {
        color: #fff; }
        .contact-wrapper .contact-content .contact-me p a {
          text-decoration: none;
          color: #fff;
          font-family: Arial;
          font-weight: 600;
          opacity: 0.8; }
        .contact-wrapper .contact-content .contact-me p .fa {
          margin-left: 10px; }
      .contact-wrapper .contact-content .contact-me ul {
        list-style: none;
        width: 100%;
        max-width: 227px;
        float: right;
        padding: 50px 0;
        display: inline-block; }
        @media screen and (max-width: 820px) {
          .contact-wrapper .contact-content .contact-me ul {
            max-width: 100%; } }
        @media screen and (max-width: 694px) {
          .contact-wrapper .contact-content .contact-me ul {
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            display: flex;
            -ms-justify-content: center;
            -moz-justify-content: center;
            -webkit-justify-content: center;
            justify-content: center;
            float: none; } }
        .contact-wrapper .contact-content .contact-me ul li:first-child {
          padding: 16px 0;
          font-family: Arial;
          font-weight: 600;
          color: #fff;
          opacity: 0.8; }
        .contact-wrapper .contact-content .contact-me ul li:last-child {
          margin-right: 0; }
        .contact-wrapper .contact-content .contact-me ul li {
          float: left;
          margin-right: 15px;
          display: inline-block; }
          .contact-wrapper .contact-content .contact-me ul li a {
            display: inline-block;
            width: 20px;
            height: 20px;
            padding: 15px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%;
            background-color: #ef7674;
            color: #fff;
            text-align: center;
            -webkit-transition: all 0.5s linear;
            -moz-transition: all 0.5s linear;
            -ms-transition: all 0.5s linear;
            transition: all 0.5s linear; }
            .contact-wrapper .contact-content .contact-me ul li a:hover {
              -ms-transform: rotate(360deg);
              -moz-transform: rotate(360deg);
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
              -webkit-border-radius: 0;
              -moz-border-radius: 0;
              -ms-border-radius: 0;
              border-radius: 0;
              background-color: #fff;
              color: #ef7674; }
          .contact-wrapper .contact-content .contact-me ul li a:nth-child(2) {
            padding: 15px; }
    .contact-wrapper .contact-content .input-element {
      position: relative;
      z-index: 1;
      display: inline-block;
      max-width: 450px;
      width: -ms-calc(100% - 2em);
      width: -moz-calc(100% - 2em);
      width: -webkit-calc(100% - 2em);
      width: calc(100% - 2em);
      vertical-align: top;
      overflow: hidden;
      padding-bottom: 1em;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; }
      .contact-wrapper .contact-content .input-element input, .contact-wrapper .contact-content .input-element textarea {
        position: relative;
        display: block;
        border: none;
        border-radius: 0;
        font-weight: 400;
        font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 0.35em 0.5em;
        margin-top: 1.25em;
        width: 100%;
        background: transparent;
        color: #3b323c;
        font-size: 1.55em;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        transition: all 0.3s linear;
        border-bottom: 2px solid #ef7674; }
        @media screen and (max-width: 694px) {
          .contact-wrapper .contact-content .input-element input, .contact-wrapper .contact-content .input-element textarea {
            padding: 0.35em  0; } }
        .contact-wrapper .contact-content .input-element input:focus, .contact-wrapper .contact-content .input-element textarea:focus {
          opacity: 1;
          outline: none;
          border: none; }
      .contact-wrapper .contact-content .input-element input:valid, .contact-wrapper .contact-content .input-element textarea:valid {
        opacity: 1; }
      .contact-wrapper .contact-content .input-element label {
        user-select: none;
        display: inline-block;
        float: right;
        color: #696969;
        font-weight: bold;
        font-size: 70.25%;
        -webkit-font-smoothing: antialiased;
        width: 100%;
        left: 0;
        height: 20px;
        text-align: left;
        position: absolute;
        top: 1em;
        pointer-events: none;
        overflow: hidden;
        padding: 0 0.25em;
        -ms-transform: translate3d(1em, 2.75em, 0);
        -moz-transform: translate3d(1em, 2.75em, 0);
        -webkit-transform: translate3d(1em, 2.75em, 0);
        transform: translate3d(1em, 2.75em, 0);
        -webkit-transition: transform 0.3s linear;
        -moz-transition: transform 0.3s linear;
        -ms-transition: transform 0.3s linear;
        transition: transform 0.3s linear;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box; }
        .contact-wrapper .contact-content .input-element label span {
          position: relative;
          display: block;
          width: 100%;
          color: #A4A5A6;
          padding: 0.4em 0 0.25em;
          -webkit-transition: transform 0.3s linear;
          -moz-transition: transform 0.3s linear;
          -ms-transition: transform 0.3s linear;
          transition: transform 0.3s linear;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          box-sizing: border-box; }
          .contact-wrapper .contact-content .input-element label span:after {
            content: 'Name';
            position: absolute;
            font-weight: 800;
            top: 0%;
            left: 0;
            height: 100%;
            width: 100%;
            color: #fff;
            padding: 0.25em 0;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 0.85em;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            box-sizing: border-box; }
        .contact-wrapper .contact-content .input-element label #email-after:after {
          content: "email"; }
      .contact-wrapper .contact-content .input-element input:focus ~ label, .contact-wrapper .contact-content .input-element input:valid ~ label {
        -ms-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -ms-transition-delay: 0.15s;
        -moz-transition-delay: 0.15s;
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s; }
        .contact-wrapper .contact-content .input-element input:focus ~ label span, .contact-wrapper .contact-content .input-element input:valid ~ label span {
          -ms-transform: translate3d(0, -50%, 0);
          -moz-transform: translate3d(0, -50%, 0);
          -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
          -ms-transition-delay: 0.15s;
          -moz-transition-delay: 0.15s;
          -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s; }
      .contact-wrapper .contact-content .input-element .graph {
        position: absolute;
        left: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        fill: #3b323c;
        pointer-events: none;
        top: 1em;
        bottom: 0px;
        height: 4.5em;
        z-index: -1;
        -webkit-transition: all 0.7s linear;
        -moz-transition: all 0.7s linear;
        -ms-transition: all 0.7s linear;
        transition: all 0.7s linear;
        -ms-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
        -moz-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
        -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
        transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1); }
      .contact-wrapper .contact-content .input-element input:focus ~ .graph, .contact-wrapper .contact-content .input-element input:valid ~ .graph {
        -ms-transform: translate3d(-66.6%, 0, 0);
        -moz-transform: translate3d(-66.6%, 0, 0);
        -webkit-transform: translate3d(-66.6%, 0, 0);
        transform: translate3d(-66.6%, 0, 0);
        fill: #fff; }
    .contact-wrapper .contact-content .textarea {
      width: 100%; }
      .contact-wrapper .contact-content .textarea .graph {
        height: 100%; }
      .contact-wrapper .contact-content .textarea textarea {
        margin-top: 2em; }
        .contact-wrapper .contact-content .textarea textarea:focus {
          outline: none; }
      .contact-wrapper .contact-content .textarea label {
        top: 3em; }
        .contact-wrapper .contact-content .textarea label span:after {
          content: 'Leave a message'; }
      .contact-wrapper .contact-content .textarea textarea:focus ~ .graph, .contact-wrapper .contact-content .textarea textarea:valid ~ .graph {
        -ms-transform: translate3d(-66.6%, 0, 0);
        -moz-transform: translate3d(-66.6%, 0, 0);
        -webkit-transform: translate3d(-66.6%, 0, 0);
        transform: translate3d(-66.6%, 0, 0);
        fill: #fff; }
      .contact-wrapper .contact-content .textarea textarea:focus ~ label, .contact-wrapper .contact-content .textarea textarea:valid ~ label {
        -ms-transform: translate3d(0, -50%, 0);
        -moz-transform: translate3d(0, -50%, 0);
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
        -ms-transition-delay: 0.15s;
        -moz-transition-delay: 0.15s;
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s; }
        .contact-wrapper .contact-content .textarea textarea:focus ~ label span, .contact-wrapper .contact-content .textarea textarea:valid ~ label span {
          -ms-transform: translate3d(0, -50%, 0);
          -moz-transform: translate3d(0, -50%, 0);
          -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
          -ms-transition-delay: 0.15s;
          -moz-transition-delay: 0.15s;
          -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s; }
    .contact-wrapper .contact-content button {
      color: #fff;
      background-color: #ef7674;
      padding: 15px 50px;
      display: inline-block;
      overflow: hidden;
      outline: none;
      border: none; }
      .contact-wrapper .contact-content button span {
        z-index: 1; }
      .contact-wrapper .contact-content button:after {
        content: '';
        position: absolute;
        z-index: 0;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        transition: all 0.3s linear;
        width: 100%;
        height: 0;
        top: 50%;
        left: 50%;
        background: #fff;
        opacity: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
        -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transform: translateX(-50%) translateY(-50%) rotate(45deg); }
      .contact-wrapper .contact-content button:hover {
        color: #ef7674;
        font-weight: 600; }
        .contact-wrapper .contact-content button:hover:after {
          height: 260%;
          opacity: 1; }
      .contact-wrapper .contact-content button:active:after {
        height: 400%;
        opacity: 1; }

footer {
  background-color: #3b323c;
  text-align: center;
  color: #fff;
  padding: 40px 0; }

#page-wrapper {
  transition: all 0.5s ease .25s; }
  #page-wrapper:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    -ms-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }

.show-before #page-wrapper:before {
  visibility: visible;
  opacity: 1; }

.test1 {
  width: auto;
  height: auto;
  z-index: 101;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: all 0.5s linear; }
  @media screen and (max-width: 853px) {
    .test1 img {
      width: 23rem; } }
  @media screen and (max-width: 400px) {
    .test1 img {
      width: 20rem; } }
  .test1 .close-img {
    width: 20px;
    height: 20px;
    padding: 5px;
    color: #fff;
    background-color: #3b323c;
    border-radius: 50%;
    position: absolute;
    top: 2%;
    right: 1%;
    z-index: 101;
    opacity: 0.6; }
    .test1 .close-img a {
      color: #fff;
      text-decoration: none; }
    .test1 .close-img:hover {
      opacity: 1;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      transition: all 0.3s linear; }

.test {
  display: none; }

.image-effect {
  z-index: 99; }

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  box-sizing: border-box; }

.mySlides {
  display: none; }

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; }

.prev {
  left: 0; }

.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 100%;
  left: 45%; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.active {
  color: #ef7674; }
