@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Merienda+One|Montserrat');

$font-stack: 'Raleway', Arial, sans-serif;
$header-font: 'Montserrat', sans-serif;
$cursive-font:  'Merienda One', cursive;

$primary-color: #3b323c;
$primary-color2: #5e0231;
$secondary-color: #ef7674;
$secondary-color2: #fdeeee;
$text-color: #fff;
$focus: #514451;
$font-size: 16px;

$breaking-point1: 820px;
$breaking-point2: 630px;
$about-brpoint: 1130px;
$skills-brpoint: 1040px;
$skills-brpoint2: 450px;
$contact-brpoint: 694px;
$portfolio-brpoint: 480px;
$slider-brpoint: 853px;
$slider-brpoint2: 400px;




